################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/ConsoleApplication1/.vs/ConsoleApplication1/v16
/ConsoleApplication1/Debug/ConsoleA.219AC1A6.tlog
/ConsoleApplication1/Debug
